# Gateway
ANTHROPIC_API_KEY=
CLOUDFLARE_API_KEY=
COHERE_API_KEY=
GROQ_API_KEY=
OLLAMA_API_KEY=
OLLAMA_CLOUD_API_KEY=
OPENAI_API_KEY=
DEEPSEEK_API_KEY=
GOOGLE_API_KEY=
MISTRAL_API_KEY=
MOONSHOT_API_KEY=

# A2A Agent Server / LLM client
A2A_DEBUG=false
{{- if .ADL.Spec.Agent }}
A2A_AGENT_CLIENT_PROVIDER={{ .ADL.Spec.Agent.Provider }}
A2A_AGENT_CLIENT_MODEL={{ .ADL.Spec.Agent.Model }}
A2A_AGENT_CLIENT_BASE_URL=http://gateway:8080/v1
{{- end }}

# CLI
{{- if .ADL.Spec.Agent }}
CLI_PROVIDER={{ .ADL.Spec.Agent.Provider }}
CLI_MODEL={{ .ADL.Spec.Agent.Model }}
{{- end }}
{{- if and .ADL.Spec.Language.Rust (has "redis" .ADL.Spec.Language.Rust.Features) }}

# Task queue (Redis)
A2A_QUEUE_PROVIDER=redis
A2A_QUEUE_URL=redis://localhost:6379
A2A_QUEUE_NAMESPACE=a2a
{{- end }}
