module {{ .ADL.Spec.Language.Go.Module }}

go {{ .ADL.Spec.Language.Go.Version }}

require (
{{- range .Vendor.GoBuiltinEntries }}
	{{ .Name }} {{ .Version }}
{{- end }}
{{- if and .ADL.Spec.Telemetry .ADL.Spec.Telemetry.Enabled }}
	go.opentelemetry.io/otel {{ pin "go-telemetry" "go.opentelemetry.io/otel" }}
	go.opentelemetry.io/otel/sdk {{ pin "go-telemetry" "go.opentelemetry.io/otel/sdk" }}
	go.opentelemetry.io/otel/trace {{ pin "go-telemetry" "go.opentelemetry.io/otel/trace" }}
{{- end }}
{{- range .Vendor.GoRequires }}
	{{ .Name }} {{ .Version }}
{{- end }}
{{- range .Vendor.GoTools }}
	{{ .Name }} {{ .Version }} // indirect
{{- end }}
)
{{ if .Vendor.GoTools }}
tool (
{{- range .Vendor.GoTools }}
	{{ .Name }}
{{- end }}
)
{{- end }}
