module {{ .ADL.Spec.Language.Go.Module }}

go {{ .ADL.Spec.Language.Go.Version }}

require (
{{- range .Vendor.GoBuiltinEntries }}
	{{ .Name }} {{ .Version }}
{{- end }}
{{- range .Vendor.GoRequires }}
	{{ .Name }} {{ .Version }}
{{- end }}
{{- range .Vendor.GoTools }}
	{{ .Name }} {{ .Version }} // indirect
{{- end }}
)
{{ if .Vendor.GoTools }}
tool (
{{- range .Vendor.GoTools }}
	{{ .Name }}
{{- end }}
)
{{- end }}
