---
version: 2
updates:
{{- if .ADL.Spec.Language.Go }}
  - package-ecosystem: gomod
    directory: /
    schedule:
      interval: weekly
    groups:
      gomod:
        patterns:
          - "*"
{{- end }}
{{- if .ADL.Spec.Language.Rust }}
  - package-ecosystem: cargo
    directory: /
    schedule:
      interval: weekly
    groups:
      cargo:
        patterns:
          - "*"
{{- end }}
{{- if .ADL.Spec.Language.TypeScript }}
  - package-ecosystem: npm
    directory: /
    schedule:
      interval: weekly
    groups:
      npm:
        patterns:
          - "*"
{{- end }}

  - package-ecosystem: github-actions
    directory: /
    schedule:
      interval: weekly
    groups:
      github-actions:
        patterns:
          - "*"

  - package-ecosystem: docker
    directory: /
    schedule:
      interval: weekly
{{- if .ADL.Spec.Language.Go }}
    ignore:
      - dependency-name: golang
        versions:
          - ">{{ .ADL.Spec.Language.Go.Version }}"
      - dependency-name: ubuntu
        versions:
          - ">24.04"
{{- end }}
    groups:
      docker:
        patterns:
          - "*"
{{- if and .ADL.Spec.Development .ADL.Spec.Development.Sandbox .ADL.Spec.Development.Sandbox.DevContainer }}{{- if .ADL.Spec.Development.Sandbox.DevContainer.Enabled }}

  - package-ecosystem: devcontainers
    directory: /
    schedule:
      interval: weekly
{{- end }}{{- end }}
