---
name: Refactor request
about: Request a refactor of existing code
title: '[TASK] Refactor '
labels: refactor
type: task
assignees: ''
---

## Summary



### Acceptance Criteria



- [ ] Criterion 1
- [ ] Criterion 2
- [ ] Criterion 3
